@import './../../styles/responsive.scss';
.single{
     display: flex;
     @include lg{
          flex-direction: column;
          gap: 50px;
     }
     .view{
          flex: 1;
          .infoSingle{


               .top{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    img{
                         width: 100px;
                         height: 100px;
                         border-radius: 20px;
                         object-fit: cover;
                    }
                    h2{
                         font-weight: 500;
                         text-transform: capitalize;
                    }


               }
               .details{
                    font-size: 18px;

                    .item{
                         margin: 30px 0;


                         .itemTitle{
                              font-weight: 600;
                              margin-right: 10px;
                              text-transform: capitalize;
                         }
                    }
               }
          }
          hr{
               width: 90%;
               height: 0;
               border: 0.5 solid gray;
               margin: 20px;
               @include sm{
                    display: none;
               }
          }
          .chart{
               width: 80%;
               height: 350px;
               
               @include sm{
                    display: none;
               }
          }
         
     }
     .activities{
          flex: 1;

          h2{
               margin-bottom: 20px;
          }
          ul{
               li{
                    list-style: none;
                    position: relative;
                    width: 1px;
                    padding-top: 50px;
                    background: #f45b69;

                    &::after{
                         content: '';
                         position: absolute;
                         left: 50%;
                         bottom: 0;
                         transform: translateX(-50%);
                         height: 10px;
                         width: 10px;
                         border-radius: 50%;
                         background-color: #f45b69;
                    }
                         div{
                              min-width: 480px;
                              padding: 15px;
                              background-color: #f45b6810;
                              @include md{
                                   min-width: 240px;
                              }
                         p{
                              margin-bottom: 5px;
                         }
                         time{
                              font-size: 12px;
                         }
                         }
               }
          }
     }
}